header {
    background-color: rgb(0, 160, 220);
    background-image: linear-gradient(to bottom, rgb(0, 160, 220), rgb(0, 131, 178));
    color: black;
    margin-top: 0;
    padding: 0 15px 0 15px;
    padding-top: 1px;
    margin: 0;
    box-shadow: 0 0 10px 2px;
    z-index: 1;
}

header h1 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: large;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:visited {
    color: black;
}

a:hover,
a:focus {
    color: white;
}

.main_content {
    padding: 10px;
    position: relative;
}

.big_image {
    margin-top: -20px;
    z-index: 0;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    flex: 1 1 300px;
    background: #f5f5f5;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px;
}

footer {
    margin: 10px
}