.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    opacity: 0.7;
}

.left-sidebar {
    position: sticky;
    padding: 15px;
    position: sticky;
    top: 70px;
    height: calc(100vh - 185px); 
    background: #fff;
    overflow: auto; 
}

.site-footer {
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    padding-top: 5px;
    padding-bottom: 10px;
}

.main-area {
    padding: 15px;
    height: calc(100vh - 185px);
    overflow-y: auto;
}

html, body {
    overflow-x: hidden; 
    overflow-y: auto;    
}


body {
    padding-top: 70px;
}

.blog-post {
    border: 2px solid black;
    border-radius: 8px;
    margin-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.badge {
    margin-right: 4px;
}

.sidebar-title {
    margin-top: 20px;
}

.poll {
    margin-top: 20px;
}

.poll div {
    padding: 2px;
    margin: 2px;
}

.badge-mona {
    background-color: #8B008B;
    color: white
}

.badge-tenley {
    background-color: #8B4513;
    color: white;
}

.badge-maxwell {
    background-color: #8B0000;
    color: white;
}

.badge-language {
    background-color: #008B8B;
    color: white;
}

.badge-length {
    background-color: #004d99;
    color: white;
}

@media (max-width: 1000px) {
    .left-sidebar {
        position: relative;
        height: auto;
        top: 0;
        overflow: visible;
    }
}

@media (max-width: 1000px) {
    .left-sidebar,
    .main-area {
        height: auto;
        overflow: visible;
        position: static;
    }
}

@media (max-width: 1000px) {
    .navbar-collapse {
        background-color: white;
        padding: 10px 20px;
    }
}
