header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgb(0, 160, 220);
    background-image: linear-gradient(to bottom, rgb(0, 160, 220), rgb(0, 131, 178));
    color: black;
    margin-top: 0;
    padding: 0 15px 0 15px;
    padding-top: 1px;
    margin: 0;
    box-shadow: 0 0 10px 2px;
    z-index: 1;
}

header h1 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: large;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:visited {
    color: black;
}

a:hover,
a:focus {
    color: white;
}

.main_content {
    padding: 10px;
    margin-top: -240px;
}

.big_image {
    margin-top: -20px;
    z-index: 0;
    object-fit: cover;
    clip-path: inset(0px 0 240px 0);
}

.welcome {
    margin: 10px;
}

.card-container {
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
}

.card {
    flex: 1 1 300px;
    background: #f5f5f5;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 8px;
    transition: transform 0.3s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0 8px 16px;
}

footer {
  border: 2px solid #ccc;
  background-color: rgb(0, 160, 220);
  text-align: center;
  padding: 15px 0;
  font-family: sans-serif;
  font-size: 14px;
  color: #333;
  width: 100%;
  margin-top: 30px;
  box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
  background-image: linear-gradient(to top, rgb(0, 160, 220), rgb(0, 131, 178));
}

footer p {
  margin: 0;
  font-weight: 500;
}
