header, footer {
    background-color: rgb(176, 8, 139);
    padding: 0px 20px;
}

main {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px
}

.left-content {
    justify-content: left;
    width: 220px;
    border: 3px solid rgb(176, 8, 139);
}

.main-content {
    display: flex;
    flex: 1;
}