body {
    margin: 0;
    padding: 0;
}

header {
    padding: 10px 0px 0px 0px;
    text-align: center;
    position: sticky;
}

header, footer {
    background-color: rgb(176, 8, 139);
    text-align: center;
    position: sticky;
}

header h1 {
    font-size: 35px;
}

a,
a:visited {
    color: black;
}

a:hover,
a:focus {
    color: white;
}

main {
    display: flex;
    padding: 10px 20px;
}

.left-content {
    justify-content: left;
    width: 15%;
    border: 3px solid rgb(176, 8, 139);
    position: sticky;
}

.main-content {
    display: flex;
    flex: 1;
}

