.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1030;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 0 20px;
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
}

.carousel-item img {
    height: 650px;   
    object-fit: cover; 
    width: 100%;
}

.navbar-nav .nav-link {
    font-size: 1.1rem;
    margin-right: 20px;
}

.navbar-nav .nav-link:hover {
    opacity: 0.7;
}

.left-sidebar {
    position: sticky;
    padding: 15px;
    position: sticky;
    top: 70px;
    height: calc(100vh - 185px); 
    background: #fff;
    overflow: auto; 
}

/* .card:hover {
    transform:scale(1.03);
} */

.site-footer {
    height: 70px;
    width: 100%;
    background-color: #ffffff;
    border-top: 1px solid #ccc;
    /* padding-top: 10px; */
    padding-bottom: 10px;
}

.main-area {
    padding: 15px;
    height: calc(100vh - 185px);
    overflow-y: auto;
}

html, body {
    overflow: hidden;
}