header, footer {
    background-color: rgb(176, 8, 139);
    padding: 0px 20px;
    position: sticky;
}

a,
a:visited {
    color: black;
}

a:hover,
a:focus {
    color: white;
}

main {
    display: flex;
    padding-top: 20px;
    padding-bottom: 20px
}

.left-content {
    justify-content: left;
    width: 15%;
    border: 3px solid rgb(176, 8, 139);
    position: sticky;
}

.main-content {
    display: flex;
    flex: 1;
}

