header {
    background-color: rgb(0, 160, 220);
    background-image: linear-gradient(to bottom, rgb(0, 160, 220), rgb(0, 131, 178));
    color: black;
    margin-top: 0;
    padding: 0 15px 0 15px;
    padding-top: 1px;
    margin: 0;
    box-shadow: 0 0 10px 2px;
}

header h1 {
    font-size: 50px;
    text-align: center;
    
}

p {
    font-size: large;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:visited {
    color: black;
}

a:hover,
a:focus {
    color: white;
}

.main_content {
    padding: 10px;
}

.image {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 10px;
}
table {
    background-image: linear-gradient(to top, rgb(6, 101, 117), rgb(137, 225, 247));
    box-shadow: 1px 5px 10px;
    border-radius: 10px;
}

table th {
    background-color: beige;
    padding: 10px;
    margin: 1px;
    border-radius: 10px;
    text-align: center;
    text-shadow: 0px 2px 4px;
}

table tr {
    background-color: white;
}

table td {
    border-radius: 5px;
}

.tdnum {
    text-align: right;
}

footer {
    margin: 10px
}

/* Images */
.healthy-collage {
    position: relative;
}
.healthy-collage img {
    height:400px; width:500px;
    z-index:-1;
    position: absolute;
}

.healthimg1 {
    left:1rem;
}
.healthimg2 {
    left:10rem;
    top:7rem;
}
.healthimg3 {
    left:20rem;
    top:14rem;
}