header {
    background-color: rgb(0, 160, 220);
    background-image: linear-gradient(to bottom, rgb(0, 160, 220), rgb(0, 131, 178));
    color: black;
    margin-top: 0;
    padding: 0 15px 0 15px;
    padding-top: 1px;
    margin: 0;
    box-shadow: 0 0 10px 2px;
}


header h1 {
    font-size: 50px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

a,
a:visited {
    color: black;
}

a:hover,
a:focus {
    color: white;
}

.main_content {
    padding: 1px;
}

.image {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 10px;
}

footer {
    margin: 10px
}

/* my css */

/* SECTION 1 */
.section-1 {
    margin: 20px auto;
    width: 90%;
    height: 600px;
    background-color: rgb(219, 219, 219);

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.section-1 > div {
    width: 40%;
    height: 65%;
    background-color: green;
}

.section-1 .info-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

.info-section > .container {
    width: 100%;
    height: 100px;
    background-color: red;
}

/* IMPACTS OF SLEEP ARTICLE */

.card-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap: 20px;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    min-height: 100px;
    background-color: rgb(255, 255, 255);
}

.card-grid .card {
    width: 350px;
    height: 300px;
    padding: 0;
    margin: 0;
    background-color: rgb(255, 255, 255);


    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.15);
}

.card .card-title {
    background-color: red;
    width: 100%;
    height: 80px;
}

.card .card-information {
    background-color: green;
    width: 100%;
    height: 185px;
}