header {
    background-color: rgb(0, 160, 220);
    background-image: linear-gradient(to bottom, rgb(0, 160, 220), rgb(0, 131, 178));
    color: black;
    margin-top: 0;
    padding: 0 15px 0 15px;
    padding-top: 1px;
    margin: 0;
    box-shadow: 0 0 10px 2px;
}

header h1 {
    font-size: 50px;
    text-align: center;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

a,
a:visited {
    color: black;
}

a:hover,
a:focus {
    color: white;
}

.main_content {
    padding: 1px;
}

.image {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 10px;
}

footer {
    margin: 10px
}

/* my css */

.first-section {
  height: 600px;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.interactive-formatting {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: purple;
}

.interactive-section, .interactive-section2 {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
}



.first-section {
    background-color: rgb(255, 255, 255);
}

.first-section > div {
  width: 600px;
  height: 600px;
}

.menu-section {
    background-color: rgb(255, 255, 255);
}

.menu-section > .title-background {
    background-color: rgb(62, 62, 62);
    width: 100%;
    height: 15%;

    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.menu-section .title {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.on-page-links {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 85%;
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.15);
}

.contents {
    width: 100%;
    height: 10%;
}

.on-page-links > div {
    width: 80%;
    padding: 10px;
    margin: 0;
}

.on-page-links p {
    color: rgb(48, 48, 48);
    padding: 5px;
}

/* IMPACTS OF SLEEP ARTICLE */

.impacts-of-sleep {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-items: center;
    align-items: center;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
    max-width: 1100px;
    width: 100%;
    min-height: 100px;
}

.impacts-of-sleep div {
    width: 350px;
    height: 300px;
    background-color: rgb(255, 255, 255);

    margin: 20px;
    padding: 10px;
        box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.15);
}

.impacts-of-sleep > .card-title {
    width: 100%;
    height: 20%;
    background-color: blue;
}