header {
    background-color: rgb(0, 160, 220);
    background-image: linear-gradient(to bottom, rgb(0, 160, 220), rgb(0, 131, 178));
    color: black;
    margin-top: 0;
    padding: 0 15px 0 15px;
    padding-top: 1px;
    margin: 0;
    box-shadow: 0 0 10px 2px;
}

header h1 {
    font-size: 50px;
    text-align: center;
}

p {
    font-size: large;
}

body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  /* font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif; */
}

a,
a:visited {
    color: black;
}

a:hover,
a:focus {
    color: white;
}

.main_content {
    padding: 1px;
}

.image {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 10px;
}

footer {
    margin: 10px
}

/* my css */

.information-div {
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 100px;
}

.information-div div {
    width: 350px;
    height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    border-radius: 20px;
    padding: 15px;
    box-shadow:
    0 2px 4px rgba(0, 0, 0, 0.1),
    0 8px 16px rgba(0, 0, 0, 0.15);
}

.first-section {
  height: 600px;
  width: 100%;
  margin: 10px auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.interactive-formatting {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: purple;
}

.interactive-section, .interactive-section2 {
  width: 100%;
  height: 100px;
  background-color: rgb(255, 255, 255);
}



.first-section {
    background-color: rgb(206, 206, 206);
}

.first-section > div {
  width: 600px;
  height: 600px;
}

.first-section img {
  width: 600px;
  height: 600px;
}


.menu-section {
    background-color: orange;
}

.menu-section > .title {
    background-color: red;
    margin: 0;
    width: 100%;
    height: 20%;
}