header {
    background-color: rgb(0, 160, 220);
    color: black;
    margin-top: 0;
    padding: 0 15px 0 15px;
    padding-top: 1px;
    margin: 0;
    box-shadow: 0 0 10px 2px;
}

p {
    font-size: large;
}

body {
  margin: 0;
  padding: 0;
}

a,
a:visited {
    color: black;
}

a:hover,
a:focus {
    color: white;
}

.main_content {
    padding: 10px;
}

.image {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    box-shadow: 0 4px 10px;
}

footer {
    margin: 10px
}