body {
    margin: auto;
    padding: auto;
}

/* header */

header {
    width: 100%;
    height: 100px;
    border: 15px solid #8B4513;
}


/* main section */

.main-section {
    width: 100%;
    height: 500px;
}

.main-section {
    display: flex;
}

.main-section > .side-bar {
    width: 200px;
    height: 100%;
    border: 15px solid aquamarine;

    display: flex;
    flex-direction: column;
    gap: 80px;
}

.main-content {
    border: 15px solid green;
    width: 100%;
    height: 100%;
}

footer {
    width: 100%;
    height: 100px;
    border: 15px solid purple;
}