body {
    margin: 0;
    padding: 0;
}

/* header */

header {
    width: 100%;
    height: 100px;
    background-color: #8B4513;
}


/* main section */

.main-section {
    width: 100%;
    height: 600px;
    background-color: red;
}

.main-section > .side-bar {
    width: 200px;
    height: 600px;
    background-color: aquamarine;

    display: flex;
    flex-direction: column;
    gap: 80px;
}

.cat-card {
    width: 100%;
    height: 200px;
    background-color: orange;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.side-bar > .cat-card img {
    width: 100%;
    height: 160px;
}