body {
    margin: 0;
    padding: 0;
}

header {
    height: 70px;
    background-color: rgb(255, 25, 25);
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
}

.link {
    margin-right: 20px;
}

.site-links ul {
    height: 100%;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    text-align: center;
}