body {
    margin: 0;
    padding: 0;
    padding-top: 70px;
    font-family: sans-serif;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: rgb(255, 255, 255);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 1000;
}

.link {
    margin-right: 30px;
}

.site-links ul {
    height: 100%;
    list-style-type: none;
    padding-left: 0;
    margin-left: 0;
    display: flex;
    text-align: center;
}

/* main */

.side-bar {
    width: 250px;
    height: calc(100vh - 70px);
    overflow-y: auto;
    padding: 20px;
    background-color: #f8f9fa;
    position: fixed;
    left: 0;
    top: 45px;
}

.cat-cards {
    display: flex;
    flex-direction: column;
    background-color: rgb(250, 250, 250);
    padding-top: 20px;
    text-align: center;
}

.cat-cards .col-md-6,
.cat-cards .col-lg-4 {
    width: 100%;
    max-width: 100%;
    flex: 0 0 100%
}

.image-div img {
    border-radius: 8px;
    width: 100%;
    height: auto;
    display: block;
}

.image-div p {
    text-align: center;  
}

.main-content {
    margin-left: 260px;
    height: 100%;
    height: 800px;
    display: flex;
    flex-direction: column;
}

.biography {
    width: 100%;
    text-align: left;
}

.biography ul {
    padding-left: 0;
}

.carousel {
    width: 90%;
    align-self: center;
}

.carousel-item > img {
    width: 100%;
    height: auto;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 11000;
    background-color: rgb(255, 255, 255);

}


/* for mobole */

@media (max-width: 768px) {
    .side-bar {
        position: relative;
        width: 100%;
        height: auto;
        top: 0;
        left: 0;
    }

    .main-content {
        margin-left: 0;
        margin-top: 20px;
        padding: 10px;
    }
}