


/* main section */

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header {
    border: 15px solid #8B4513;
    height: 100px;
}

.main-section {
    display: flex;
    flex: 1; /* Takes up remaining space */
}

.main-section > .side-bar {
    width: 200px;
    border: 15px solid aquamarine;
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.main-content {
    border: 15px solid green;
    flex: 1; /* Takes remaining width */
}

footer {
    height: 100px;
    border: 15px solid purple;
}