body {
    margin: 0;
    padding: 0;
}

/* header */

header {
    width: 100%;
    height: 100px;
    background-color: #8B4513;
}


/* main section */

.main-section {
    width: 100%;
    height: 400px;
    background-color: red;
}