


/* main section */

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header {
    height: 70px;
    display: flex;
    background-color: #ffffff;
}

.site-links {
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 30px;
}

.site-links > .sites {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 15px;

}

.site-links > .sites > a {
    text-decoration: none;
}

.site-links > .information {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 15px;
}

.logo-div {
    float: left;
    height: 100%;
}

.logo-div img {
    height: 100%;
    width: auto;
}


/* main */

.main-section {
    display: flex;
    flex: 1; 
}

.main-content > .main-text {
    padding: 20px;
}

.main-section > .side-bar {
    width: 240px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 2px;
}

.information > p {
    padding: 0;
    margin: 0;
}

.side-bar > .information {
    padding: 10px;
}

.side-bar > .cat-cards {
    display: flex;
    flex-direction: column;
    gap: 0px;
}

.image-div {
    width: 100%;
    height: 180px;
}

.image-div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.cat-cards > div {
    width: 100%;
    height: 320px;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.text-div {
    padding: 12px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 12px rgba(0,0,0,0.12);
}

.text-div p {
    margin: 0;
    font-size: 16px;
    font-weight: 500;
    color: #333;
}

        @media (min-width: 768px) {
            .main-section > .side-bar {
                width: 100%;
            }
            
            .side-bar > .cat-cards {
                flex-direction: row;
                flex-wrap: wrap;
            }
            
            .cat-cards > div {
                width: calc(50% - 10px);
                margin: 5px;
            }
        }
        
        @media (min-width: 992px) {
            .cat-cards > div {
                width: calc(33.333% - 10px);
            }
        }
        
        @media (min-width: 1200px) {
            .main-section > .side-bar {
                width: 240px;
            }
            
            .side-bar > .cat-cards {
                flex-direction: column;
            }
            
            .cat-cards > div {
                width: 100%;
                margin: 0;
            }
        }



.main-content {
    flex: 1;
}


/* main text sect */

.main-text {
    width: 100%;
    height: 400px;
    background-color: rgb(255, 255, 255);
}

.heart-button {
    display: flex;
    background-color: red;
    width: 60px;
    height: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}

.cat-carousel {
  width: 80%;
  margin: 0 auto;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 8px 25px rgba(0,0,0,0.15);
  background: #f8f9fa;
  position: relative; /* Add this */
}

.cat-carousel .carousel-inner {
  width: 100%;
  height: 0;
  padding-bottom: 56.25%; /* 16:9 aspect ratio - adjust as needed */
  position: relative; /* Add this */
}

.cat-carousel .carousel-item {
  position: absolute; /* Change from relative to absolute */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.cat-carousel .carousel-item.active {
  position: absolute; /* Ensure active slide is also absolute */
}

.cat-carousel .carousel-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block; /* Remove extra space below image */
}

.cat-carousel .carousel-caption {
  background: linear-gradient(transparent, rgba(0,0,0,0.7));
  padding: 20px;
  bottom: 0;
  left: 0;
  right: 0;
}

.cat-carousel .carousel-control-prev,
.cat-carousel .carousel-control-next {
  width: 50px;
  height: 50px;
  background: rgba(255,255,255,0.2);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 20px;
}

.cat-carousel .carousel-indicators {
  margin-bottom: 20px;
}

.cat-carousel .carousel-indicators button {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin: 0 5px;
}

footer {
    height: 100px;
    border: 15px solid purple;
}