


/* main section */

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
}

header {
    height: 100px;
    display: flex;
}

.site-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-left: 30px;
}

.logo-div {
    float: left;
    height: 100%;
}

.logo-div img {
    height: 100%;
    width: auto;
}


/* main */

.main-section {
    display: flex;
    flex: 1; 
}

.main-section > .side-bar {
    width: 250px;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
}

.information > p {
    padding: 0;
    margin: 0;
}

.side-bar > .information {
    padding: 10px;
}

.side-bar > .cat-cards {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.cat-cards .image-div {
    width: 100%;
    height: 150px;
}

.cat-cards > div {
    width: 100%;
    height: 200px;
    background-color: green;
    padding: 10px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.main-content {
    border: 15px solid green;
    flex: 1;
}

footer {
    height: 100px;
    border: 15px solid purple;
}