


/* main section */

body {
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header { 
    height: 100px;
    display: flex;
    justify-content: center;
}

.logo-div {
    float: left;
    height: 100%;
}

.logo-div img {
    height: 100%;
    width: auto;
}
/* main */

.main-section {
    display: flex;
    flex: 1; 
}

.main-section > .side-bar {
    width: 250px;
    background-color: #ededed;
    display: flex;
    flex-direction: column;
}

.side-bar > div {
    border: 2px solid black;
    height: 40px;
}

.main-content {
    border: 15px solid green;
    flex: 1;
}

footer {
    height: 100px;
    border: 15px solid purple;
}