header {
    background-color: rgb(212, 175, 55); 
    color: black;
    margin-top: 0;
    padding: 0 15px; /* vertical 0, horizontal 15px */
    padding-top: 1px;
    margin: 0;
}

a,
a:visited {
    color: black;
}

a:hover,
a:focus {
    color: white;
}

.main_content {
    text-align: center;
}